<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>図書登録画面</h3>
    {% if error != null %}
        <p style="color:red">{{error}}</p>
    {% endif %}
    <form action="{{url_for('register_exe2')}}" method="post">
        図書名：<input type="text" name="book_name"><br>
        著者名：<input type="text" name="book_author"><br>
        ISBN：<input type="text" name="ISBN"><br>
    <button type="submit">登録</button>
    <a href="../">戻る</a>
</body>
</html>